/shelf/
/workspace.xml
/usage.statistics.xml
/tasks.xml
/dictionaries
/vcs.xml
/jsLibraryMappings.xml
/dataSources.ids
/dataSources.xml
/dataSources.local.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml
/libraries/
/gradle.xml
